html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: medium;
}

body{
    display: flex;
    flex-direction: column;
}

.cabecalho{
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 50px;
    height: 100px;
    box-sizing: border-box;
}

.principal {
    display: flex;
    flex-grow: 1; /* faz ocupar o restante da tela */
    background-color: #5a90c9;
}

.painel-lateral{
    background-color: #0f2d49;
    color: white;
    width: 250px;
    padding: 20px;
    box-sizing: border-box;
}

.corpo{
    flex-grow: 1;
    padding: 20px;
    background-color: #5a90c9;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

textarea{
    width: 300px;
    height: 200px;
    resize: none;      
    padding: 10px;
    font-size: medium;
    box-sizing: border-box;
    line-height: 1.5;
    overflow-y: auto;      
    white-space: pre-wrap; 
    word-wrap: break-word; 
    border-radius: 8px;
    border: none;
}

button {
    padding: 12px 30px;
    font-size: 1.2em;
    border-radius: 8px;
    background-color: #0f2d49;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1a3a5f;
}

#sugestoess-diagnostico{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sugestao{
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.sugestao:hover{
    background-color: #d0d0d0;
}  



































/* header {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 100px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

label {
    color: black;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

text{
    color: black;
}

h2 {
    color: black;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.template {
    display: grid;
    grid-template-areas:
        'cabecalho'
        'corpo';
    grid-template-rows: 15vh;
}

.corpo {
    grid-area: corpo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    width: 100%;
    height: 500px;
    text-align: center;
    padding: 20px;
}

.cabecalho {
    grid-area: cabecalho;
    background-color: black;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 17vh;
}
.conteudo {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
} */